.init {
  height: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #ffcccc, #ccffcc);
}

.api {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .api {
    flex-direction: column;
  }
}

.init-btn {
  height: 60px;
  width: 200px;
}
