.github-detail-container {
  height: 100%;
}

.github-detail-title {
  font-size: 24px;
}

.github-detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  height: 100%;
  .MuiPaper-root {
    width: 300px;
  }
}
